<h1> <%= @post.name %> </h1>


<p><%= @post.description %></p>
<p> <%= @post.price %> </p>
<p> <%= time_ago_in_words(@post.created_at) %> ago </p>

<%= link_to 'edit', edit_post_path(@post) if @post.user == current_user %>
<%= link_to 'delete', @post, method: :delete if @post.user == current_user %>
